# pixi environments
.pixi/*
!.pixi/config.toml
__pycache__/
outputs/
logs/
data/
!configs/data/
configs/data/*
!configs/data/mpi_inf_3dhp_stage2.yaml
!configs/data/mpi_inf_3dhp_stage2_pseudo_smpl.yaml
!configs/data/behave_stage2.yaml
!configs/data/h36m_stage2_full.yaml
!src/mvhpe3d/data/
src/mvhpe3d/data/*
!src/mvhpe3d/data/mpi_inf_3dhp.py
!src/mvhpe3d/data/behave.py
!src/mvhpe3d/data/h36m.py
!src/mvhpe3d/data/image_measurements.py
goal*.md
